<mat-sidenav-container [class]="theme">
  <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="!mobileQuery.matches" color="accent" class="sidenav">
    <h1 class="branding">NgMaterial</h1>  
    <app-user-info (toggleMenu)="onToggleMenu($event)"></app-user-info>
    <mat-divider></mat-divider>
    <app-navigation [lists]="lists" [toggleMenuVal]="toggleMenuVal"></app-navigation>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar color="primary">
      <button mat-icon-button class="sidenav-toggle" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <app-toolbar-nav [defaultTheme]="theme"(changeTheme)="changeTheme($event)"></app-toolbar-nav>
    </mat-toolbar>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
