<div class="settings">
  <div class="settings-item">
    <mat-card>
      <mat-card-content>

        <img mat-card-md-image src="assets/user.png" alt="User Photo">
        <div class="settings-user-details">
          <span>John Doe</span>
          <span>Programmer</span>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non velit dolorum modi officia optio, fugiat consequatur vitae porro natus deserunt.</p>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
  <div class="settings-item">
    <mat-tab-group>
      <mat-tab label="Account Settings">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda obcaecati aut, placeat dicta doloribus enim aliquid laudantium earum unde voluptatum accusantium dolorem? Libero quod autem expedita perferendis minima eaque cum, ab praesentium reiciendis earum deleniti, explicabo, vitae temporibus ratione quasi dolores ea modi mollitia dolore voluptatibus ducimus voluptatum ipsam accusantium velit. Ullam facere voluptatum repellat quibusdam quas totam omnis. Laudantium deleniti dolorem accusantium veniam possimus dolores voluptas laboriosam repellat illum sapiente obcaecati atque soluta corporis inventore quos beatae, cupiditate placeat enim esse quia optio molestiae nihil minus. Ex, minus a libero beatae quisquam eveniet ratione quod voluptate eum amet debitis.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque, adipisci commodi pariatur quaerat quas amet in laudantium perferendis aperiam. Reprehenderit, nobis earum accusamus consectetur magnam laborum laboriosam laudantium ex dolor id eveniet, odit alias commodi sit beatae culpa asperiores libero! Quam dolore quis voluptatem, omnis tempora culpa nihil eos autem?</p>
      </mat-tab>
      <mat-tab label="Privacy Settings">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur, tempora tempore repellendus corporis veritatis non accusamus, excepturi alias explicabo sunt sit doloribus laborum error dignissimos praesentium incidunt, facere harum inventore deleniti mollitia recusandae earum odit! Quos, dolores quaerat eos aut beatae eveniet! Tempora architecto sed odio, enim illo repudiandae itaque!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam esse accusamus iusto tempora, sequi laborum atque voluptate quas assumenda vero quos expedita recusandae quia magni blanditiis officiis quam dicta voluptates culpa. Soluta ab, nemo deserunt quisquam in sequi modi ex dolorum repudiandae voluptas architecto enim est eveniet dolore aut distinctio voluptate at porro nisi similique mollitia dignissimos ratione, alias sed. Illum ullam voluptatem optio tempore, neque repellat voluptatum alias. Sit quisquam alias deleniti esse animi magnam tempora! Est sed quas sunt vel animi, iusto assumenda et? Odit vero temporibus officia ab architecto maiores aut, nesciunt amet error dolorem voluptate porro?</p>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

