<mat-card>
  <mat-card-header>
    <mat-card-title>Progress</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>

    <p>Determinate progress-bar</p>
    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>

    <p>Indeterminate progress-bar</p>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>

    <p>Buffer progress-bar</p>
    <mat-progress-bar mode="buffer"></mat-progress-bar>

    <p>Query progress-bar</p>
    <mat-progress-bar mode="query"></mat-progress-bar>

    <p>Basic progress-spinner</p>
    <mat-spinner></mat-spinner>

  </mat-card-content>
</mat-card>