<mat-card>
  <mat-card-header>
    <mat-card-title>Cards</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>

    <div class="sample-card">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Card Title</mat-card-title>
          <mat-card-subtitle>Card Subtitle</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate dolor beatae provident minus ducimus magnam libero mollitia asperiores a modi vel quis obcaecati incidunt explicabo ab est voluptatibus itaque, nobis laboriosam quam eius ratione rem accusantium. Quisquam, dolorum. Minima quaerat repellendus quibusdam quis, quos sunt obcaecati neque, inventore expedita necessitatibus autem maiores, accusamus voluptate tenetur iste? Ea similique hic, veritatis a minima illum facilis sint unde modi, perspiciatis cumque ex necessitatibus impedit! Nam assumenda adipisci officia dolor sequi, possimus laudantium, reprehenderit quos in quasi numquam voluptas facere vel atque molestiae culpa sapiente tempore quis nobis incidunt ad dolorem facilis? Autem.
          </p>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
          <button mat-icon-button>
            <mat-icon>thumb_up</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>share</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    
  </mat-card-content>
</mat-card>